modules = ["php-8.2", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php artisan serve --host=0.0.0.0 --port=80"]
build = ["sh", "-c", "npm install && npm run build"]

[[ports]]
localPort = 5174
externalPort = 80
