modules = ["php-8.2", "nodejs-20", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php artisan serve --host=0.0.0.0 --port=80"]
build = ["sh", "-c", "composer install"]

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 8252304
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "composer install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan config:clear"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan route:clear"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan view:clear"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=80"
